# 한 단계 하위 폴더만 대상으로 처리 (예: AProject/, BProject/)

# Visual Studio
*/.vs/

# Object Files
*/*.slo
*/*.lo
*/*.o
*/*.obj

# Precompiled Headers
*/*.gch
*/*.pch

# Dynamic Libraries
*/*.so
*/*.dylib
*/*.dll

# Fortran
*/*.mod

# Static Libraries
*/*.lai
*/*.la
*/*.a
*/*.lib

# Executables
*/*.exe
*/*.out
*/*.app
*/*.ipa

# Project files
*/*.xcodeproj
*/*.xcworkspace
*/*.sln
*/*.suo
*/*.opensdf
*/*.sdf
*/*.VC.db
*/*.VC.opendb
*/.vsconfig

# Precompiled Assets
*/SourceArt/**/*.png
*/SourceArt/**/*.tga

# Binaries
*/Binaries/
*/Plugins/*/Binaries/

# Builds
*/Build/

# Whitelist PakBlacklist
!*/Build/
*/Build/**
!*/Build/PakBlacklist*.txt
!*/Build/**/*.ico

# Built data
*/*_BuiltData.uasset

# Saved data
*/Saved/

# Intermediate
*/Intermediate/
*/Plugins/*/Intermediate/

# DerivedDataCache
*/DerivedDataCache/
